{% extends 'account/default.html' %}
{% load account %}

{% block title %}
Protected content
{% endblock title %}

{% block sign_content %}
<div class="col-lg-6">
    <div class="p-5">
        {% include 'protect/groups.html' %}
    </div>
</div>
<div class="col-lg-6 p-5">
    <h2>{% user_display user %}</h2>
    <p> Email: {{ user.email }}</p>
    <div class="py-5">
        {% if is_author %}
        <p class="btn btn-success btn-user col-md-auto">
            Already author!
        </p>
        {% else %}
        <a href="{% url 'sign_upgrade'%}"
           class="btn btn-danger btn-user col-md-auto">
            Become author
        </a>
        {% endif %}
        <hr>
        <a href="{% url 'account_logout' %}"
        class="btn btn-primary btn-user col-md-auto">
            Log out
        </a>
    </div>
</div>
{% endblock sign_content %}