<h1 class="my-2">
    Articles
    {% if view.kwargs.type %}
    - {{ view.kwargs.type | capfirst }}
    {% elif view.kwargs.category %}
    - {{ view.kwargs.category | capfirst }}
    {% endif %}
    <a href="{% url 'article_create' %}"
       class="btn btn-success btn-icon-split my-2">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create</span>
    </a>
    {% if view.kwargs.category %}
    {% if is_subscribed %}
    <p class="btn btn-success btn-user my-2">
        Already subscribed!
    </p>
    {% else %}
    <form method="post"
          action="{% url 'article_category_subscribe' view.kwargs.category %}">
        {% csrf_token %}
        <button class="btn btn-danger btn-icon-split my-2" type="submit">
            <span class="text">Subscribe</span>
    </form>
    {% endif %}
    {% endif %}
</h1>