{% extends 'account/default.html' %}

{% block title %}
Sign up
{% endblock title %}

{% block sign_content %}
<div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
<div class="col-lg-7">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">
                Create an Account!
            </h1>
        </div>
        <form class="user" method="post" action="{% url 'account_signup' %}">
            {% include 'form/form.html' %}
            <input type="submit" class="btn btn-primary btn-user btn-block"
                   value="Register Account" />
            <hr>
            {% include 'socialaccount/snippets/provider_list.html' with process='login' provider_message='Login with ' %}
            <hr>
            <div class="text-center">
                <a class="small" href="{% url 'account_login' %}">
                Already have an account? Login!
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock sign_content %}
