@-moz-document regexp("^(about:|chrome:|file:).*") {
    /* stuff to hide */
    #browser-bottombox,
    #titlebar,
    #TabsToolbar,
    #sidebar-header,
    #back-button,
    #forward-button,
    #reload-button,
    #stop-button,
    #home-button,
    .sidebar-splitter {
        visibility: collapse !important;
    }

    /* usually you cannot make the sidebar smaller since it has min-width
      plus it causes a little render delay when you change its size */
    #sidebar-box,
    #sidebar {
        min-width: 0 !important;
        border: none;
    }

    /* history sidebar becomes full screen on activation */
    #sidebar-box[sidebarcommand="viewHistorySidebar"],
    #sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar {
        min-width: 100vw !important;
    }
}
