/*

about:config stuff
browser.display.background_color	#000000
browser.display.foreground_color	#FFFFFF
b
*/

/* *base */

@-moz-document regexp(".*") {
    :root {
        /* darkorchid - #9932cc
            #bf3eff */
        --firefox-accent-color: #bf3eff;
        --firefox-accent-color-2: #9932cc;
        --firefox-border-accent-color: 1px solid var(--firefox-accent-color);
        /* gray */
        --firefox-accent-color-3: #808080;
        /* black */
        --firefox-background-color: #000000;
        /* white */
        --firefox-foreground-color: #ffffff;
    }
    /* uniform scrollbars */
    * {
        scrollbar-color: var(--firefox-accent-color)
            var(--firefox-background-color) !important;
        scrollbar-width: thin !important;
    }
    /* uniform text selection */
    ::selection {
        background: var(--firefox-accent-color) !important;
        color: var(--firefox-foreground-color) !important;
    }
    /* removes a white outline on focused elements */
    :focus {
        outline: none !important;
    }
}

/* *browser interface */

@-moz-document regexp("^(about:|chrome:|file:).*") {
    /* browser variables, you don't really need them */
    :root {
        /* Popup panels(accordeon menu on the right, etc) */
        --arrowpanel-background: var(--firefox-background-color) !important;
        --arrowpanel-border-color: var(--firefox-background-color) !important;
        --arrowpanel-color: var(--firefox-foreground-color) !important;
        --arrowpanel-dimmed: var(--firefox-background-color) !important;
        --panel-separator-color: var(--firefox-accent-color) !important;
        --panel-disabled-color: var(--firefox-accent-color-2) !important;
        --panel-description-color: var(--firefox-accent-color-2) !important;
        /* window and toolbar background */
        --lwt-accent-color: var(--firefox-accent-color) !important;
        --lwt-accent-color-inactive: var(
            --firefox-background-color
        ) !important;
        --lwt-text-color: var(--firefox-foreground-color) !important;
        --lwt-toolbar-vertical-separator: var(
            --firefox-accent-color
        ) !important;
        --toolbar-bgcolor: var(--firefox-background-color) !important;
        --toolbar-color: var(--firefox-foreground-color) !important;
        --urlbar-height: 28px !important;
        --urlbar-toolbar-height: 30px !important;
        /* toolbar buttons */
        --lwt-toolbarbutton-icon-fill: var(--firefox-accent-color) !important;
        --lwt-toolbarbutton-icon-fill-attention: var(
            --firefox-accent-color
        ) !important;
        --lwt-toolbarbutton-hover-background: var(
            --firefox-accent-color
        ) !important;
        --lwt-toolbarbutton-active-background: var(
            --firefox-accent-color
        ) !important;
        /* urlbar */
        --urlbar-height: 30px !important;
        --urlbar-toolbar-height: 30px !important;
        --lwt-toolbar-field-background-color: var(
            --firefox-background-color
        ) !important;
        --lwt-toolbar-field-focus: var(--firefox-background-color) !important;
        --lwt-toolbar-field-border-color: var(
            --firefox-background-color
        ) !important;
        --lwt-toolbar-field-highlight: var(--firefox-accent-color) !important;
        --lwt-toolbar-field-highlight-text: var(
            --firefox-foreground-color
        ) !important;
        --lwt-toolbar-field-color: var(--firefox-foreground-color) !important;
        --lwt-toolbar-field-focus-color: var(
            --firefox-foreground-color
        ) !important;
        --toolbar-field-focus-border-color: var(
            --firefox-background-color
        ) !important;
        --urlbar-popup-url-color: var(--firefox-accent-color) !important;
        /* inner urlbar separator on the left */
        --urlbar-separator-color: var(--firefox-background-color) !important;
        /* bottom navigation bar border */
        --chrome-content-separator-color: var(
            --firefox-background-color
        ) !important;
        /* sidebar */
        --lwt-sidebar-background-color: var(
            --firefox-background-color
        ) !important;
        --lwt-sidebar-text-color: var(--firefox-foreground-color) !important;
        --sidebar-background-color: var(--firefox-background-color) !important;
        --sidebar-border-color: var(--firefox-accent-color) !important;
        /* autocomplete */
        --autocomplete-popup-background: var(
            --firefox-background-color
        ) !important;
        --autocomplete-popup-color: var(--firefox-foreground-color) !important;
        --autocomplete-popup-highlight-background: var(
            --firefox-accent-color
        ) !important;
        --autocomplete-popup-highlight-color: var(
            --firefox-foreground-color
        ) !important;
        /* useless tab variables */
        --lwt-tab-text: var(--firefox-foreground-color) !important;
        --lwt-background-tab-separator-color: var(
            --firefox-background-color
        ) !important;
        --tab-line-color: var(--firefox-background-color) !important;
    }
}
/* *browser interface */

@-moz-document regexp("^(about:|chrome:|file:).*") {
    /* browser variables, you don't really need them */
    :root {
        /* Popup panels(accordeon menu on the right, etc) */
        --arrowpanel-background: var(--firefox-background-color) !important;
        --arrowpanel-border-color: var(--firefox-background-color) !important;
        --arrowpanel-color: var(--firefox-foreground-color) !important;
        --arrowpanel-dimmed: var(--firefox-background-color) !important;
        --panel-separator-color: var(--firefox-accent-color) !important;
        --panel-disabled-color: var(--firefox-accent-color-2) !important;
        --panel-description-color: var(--firefox-accent-color-2) !important;
        /* window and toolbar background */
        --lwt-accent-color: var(--firefox-accent-color) !important;
        --lwt-accent-color-inactive: var(
            --firefox-background-color
        ) !important;
        --lwt-text-color: var(--firefox-foreground-color) !important;
        --lwt-toolbar-vertical-separator: var(
            --firefox-accent-color
        ) !important;
        --toolbar-bgcolor: var(--firefox-background-color) !important;
        --toolbar-color: var(--firefox-foreground-color) !important;
        --urlbar-height: 28px !important;
        --urlbar-toolbar-height: 30px !important;
        /* toolbar buttons */
        --lwt-toolbarbutton-icon-fill: var(--firefox-accent-color) !important;
        --lwt-toolbarbutton-icon-fill-attention: var(
            --firefox-accent-color
        ) !important;
        --lwt-toolbarbutton-hover-background: var(
            --firefox-accent-color
        ) !important;
        --lwt-toolbarbutton-active-background: var(
            --firefox-accent-color
        ) !important;
        /* urlbar */
        --urlbar-height: 30px !important;
        --urlbar-toolbar-height: 30px !important;
        --lwt-toolbar-field-background-color: var(
            --firefox-background-color
        ) !important;
        --lwt-toolbar-field-focus: var(--firefox-background-color) !important;
        --lwt-toolbar-field-border-color: var(
            --firefox-background-color
        ) !important;
        --lwt-toolbar-field-highlight: var(--firefox-accent-color) !important;
        --lwt-toolbar-field-highlight-text: var(
            --firefox-foreground-color
        ) !important;
        --lwt-toolbar-field-color: var(--firefox-foreground-color) !important;
        --lwt-toolbar-field-focus-color: var(
            --firefox-foreground-color
        ) !important;
        --toolbar-field-focus-border-color: var(
            --firefox-background-color
        ) !important;
        --urlbar-popup-url-color: var(--firefox-accent-color) !important;
        /* inner urlbar separator on the left */
        --urlbar-separator-color: var(--firefox-background-color) !important;
        /* bottom navigation bar border */
        --chrome-content-separator-color: var(
            --firefox-background-color
        ) !important;
        /* sidebar */
        --lwt-sidebar-background-color: var(
            --firefox-background-color
        ) !important;
        --lwt-sidebar-text-color: var(--firefox-foreground-color) !important;
        --sidebar-background-color: var(--firefox-background-color) !important;
        --sidebar-border-color: var(--firefox-accent-color) !important;
        /* autocomplete */
        --autocomplete-popup-background: var(
            --firefox-background-color
        ) !important;
        --autocomplete-popup-color: var(--firefox-foreground-color) !important;
        --autocomplete-popup-highlight-background: var(
            --firefox-accent-color
        ) !important;
        --autocomplete-popup-highlight-color: var(
            --firefox-foreground-color
        ) !important;
        /* useless tab variables */
        --lwt-tab-text: var(--firefox-foreground-color) !important;
        --lwt-background-tab-separator-color: var(
            --firefox-background-color
        ) !important;
        --tab-line-color: var(--firefox-background-color) !important;
    }

    /* stuff to hide */
    #browser-bottombox,
    #titlebar,
    #TabsToolbar,
    #sidebar-header,
    #back-button,
    #forward-button,
    #reload-button,
    #stop-button,
    #home-button {
        visibility: collapse !important;
    }
    /* it moves browser window to the top and url bar to the bottom */
    #browser {
        -moz-box-ordinal-group: 0 !important;
    }
    /* usually you cannot make the sidebar smaller since it has min-width
      plus it causes a little render delay when you change its size */
    #sidebar-box,
    #sidebar {
        min-width: 0 !important;
    }
    /* history sidebar becomes full screen on activation */
    #sidebar-box[sidebarcommand="viewHistorySidebar"],
    #sidebar-box[sidebarcommand="viewHistorySidebar"] > #sidebar {
        min-width: 100vw !important;
    }
    /* navigation bar has box-shadow and background-image for some reason */
    #nav-bar {
        box-shadow: none !important;
        background-image: none !important;
    }
    /* on linux, the sidebar splitter is visible for some reason */
    .sidebar-splitter {
        opacity: 0 !important;
        width: 1px !important;
    }
    /* fixes enlargered when focused urlbar */
    #urlbar[breakout],
    #urlbar[breakout][breakout-extend] {
        width: 100% !important;
        top: calc(
            (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
        ) !important;
        left: 0 !important;
        background: transparent !important;
    }
    #urlbar[breakout][breakout-extend] > #urlbar-input-container,
    #urlbar-input-container {
        height: var(--urlbar-height) !important;
        width: 100% !important;
        padding: 0 !important;
        transition: none !important;
    }
    #urlbar[breakout][breakout-extend] > #urlbar-background {
        box-shadow: 0 !important;
        animation: none !important;
    }
    /* url bar results are shown in the bottom of the screen */
    #urlbar[open] .urlbarView {
        transform: translateY(-100%) !important;
        margin-block-start: calc(var(--urlbar-height) * -1) !important;
        width: 100% !important;
    }
    #urlbar[open] #urlbar-results {
        padding: 0 !important;
    }
    #urlbar[open] #urlbar-results > * {
        margin: 0 !important;
        padding: 0 !important;
    }
    /* background of the url bar and its results */
    /* if its not transparent then the background
        will stretch downwards since url bar results
        are on the bottom of the screen now */
    #urlbar-background {
        background: transparent !important;
    }
    /* all images in the navigation bar */
    #navigator-toolbox image {
        fill: var(--firefox-foreground-color) !important;
        fill-opacity: 1 !important;
        opacity: 1 !important;
    }
    /* handles navigation bar items on hover  */
    #nav-bar [open],
    :is(toolbarbutton, #page-action-buttons
            *, #identity-box, #tracking-protection-icon-container):hover,
    :is(#nav-bar
            [open]:not(#urlbar), toolbarbutton:hover, #PanelUI-menu-button:hover, #identity-box:hover, #tracking-protection-icon-container:hover)
        image {
        background-color: var(--firefox-accent-color) !important;
        border-radius: 2px !important;
        fill: var(--firefox-foreground-color) !important;
    }
    /* transfroms an animatable-image into a usual image to make it react to the fill property */
    #tracking-protection-icon-animatable-image {
        background-image: url(chrome://browser/skin/tracking-protection.svg) !important;
    }
    /* url bar results */
    .urlbarView-row {
        background-color: var(--firefox-background-color) !important;
        fill: var(--firefox-accent-color) !important;
        fill-opacity: 1 !important;
    }
    .urlbarView-row:hover > * {
        background-color: var(--firefox-accent-color) !important;
    }
    .urlbarView-row:hover *,
    .urlbarView-row[selected] * {
        fill: var(--firefox-foreground-color) !important;
        color: var(--firefox-foreground-color) !important;
    }
    /* url bar container and url bar */
    #urlbar-container,
    #urlbar {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    }
    /* url bar elements */
    #identity-box image,
    #tracking-protection-icon-container image {
        padding: 0 !important;
        margin: 0 !important;
    }
    /* sign that the remote server is on. The image is png, so it doesn't fit with the theme*/
    #remote-control-icon {
        visibility: collapse !important;
    }
    /* url indicator in the bottom left corner */
    #statuspanel-label {
        background-color: var(--firefox-background-color) !important;
        border: none !important;
    }
    /* white flash on opening tabs fix */
    #browser,
    #browser vbox#appcontent tabbrowser,
    #content,
    #tabbrowser-tabpanels,
    browser[type="content-primary"],
    browser[type="content"] > html {
        background: var(--firefox-background-color) !important;
    }
}

/* *context prompts, context menus, autocomplete popups, etc */

@-moz-document regexp(".*") {
    menupopup,
    [role="dialog"] > *,
    select,
    panel-list,
    ul[role="menu"],
    #PopupAutoComplete,
    .dialogBox,
    .dialogFrame {
        -moz-appearance: none !important;
        padding: 0 !important;
        background-color: var(--firefox-background-color) !important;
        color: var(--firefox-foreground-color) !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    /* context menu separator */
    menupopup menuseparator,
    panel-item-separator,
    hr[role="separator"] {
        -moz-appearance: none !important;
        border: none !important;
        padding: 0.5px 0px 0.5px 0px !important;
        margin: 4px 11px 4px 11px !important;
        height: 0px !important;
        background-color: var(--firefox-accent-color) !important;
    }
    /* menu items */
    menupopup menuitem,
    menupopup menu,
    button[role="menuitem"],
    .autocomplete-richlistitem,
    select > option {
        -moz-appearance: none !important;
        color: var(--firefox-foreground-color) !important;
        padding: 0 !important;
        border: none !important;
        font-size: 12px !important;
    }
    select > option {
        padding-inline: 7px 0px 7px 9px !important;
    }
    /* disabled items */
    menupopup menuitem[disabled="true"],
    menupopup menuitem[disabled="true"] > .menu-text {
        color: gray !important;
    }
    /* items on hover */
    menupopup menuitem:hover,
    menupopup menu:hover,
    button[role="menuitem"]:hover,
    .autocomplete-richlistitem:hover,
    .autocomplete-richlistitem[selected],
    menupopup menuitem[_moz-menuactive],
    menupopup menu[_moz-menuactive] {
        background-color: var(--firefox-accent-color) !important;
    }
    /* opened items */
    menupopup menu[open],
    menupopup menuitem[selected="true"],
    select > option:checked {
        background-image: none !important;
        background-color: var(--firefox-accent-color) !important;
        border-bottom: none !important;
        border: none !important;
    }
    /* selected items and items on hover */
    menupopup menuitem:hover:active,
    menupopup menu:hover:active,
    button[role="menuitem"]:hover:active,
    .autocomplete-richlistitem:hover:active,
    .autocomplete-selected,
    .autocomplete-item:hover,
    menupopup menuitem[selected],
    menupopup menuitem[selected]:hover,
    menupopup menuitem:hover {
        background-color: var(--firefox-accent-color) !important;
    }
    menugroup {
        padding: 0px !important;
        background-color: transparent !important;
    }
    menupopup menuitem > .menu-text,
    menupopup menuitem > .menu-iconic-text {
        color: var(--firefox-foreground-color) !important;
        padding: 0px !important;
    }
    menupopup menuitem[type="checkbox"],
    menupopup menuitem[type="radio"] {
        padding-left: 17px !important;
    }
    menupopup menuitem[type="checkbox"] > .menu-iconic-text,
    menupopup menuitem[type="radio"] > .menu-iconic-text {
        padding-left: 5px !important;
    }
    menupopup menuitem[checked="true"][type="checkbox"] > .menu-iconic-left {
        padding: 7px 0px 0px 0px !important;
        border: solid var(--firefox-foreground-color);
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg) scale(0.75);
        margin-bottom: 4px !important;
    }
    menupopup menuitem[checked="true"][type="radio"] > .menu-iconic-left {
        padding: 1px !important;
        border: solid var(--firefox-foreground-color);
        height: 17px !important;
        border-radius: 100%;
        background: var(--firefox-foreground-color);
        transform: scale(0.5);
    }
    menupopup menucaption {
        background-color: transparent !important;
        color: white !important;
    }
    menubar > menu {
        -moz-appearance: none !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 14px !important;
        border: none !important;
    }
    menubar > menu:hover {
        background-color: var(--firefox-accent-color-2) !important;
    }
    menubar > menu[open] {
        background-color: var(--firefox-accent-color) !important;
    }
    #ContentSelectDropdown > menupopup {
        background-image: none !important;
    }
    #ContentSelectDropdown {
        padding: 0px !important;
    }
    menulist,
    menulist[disabled="true"],
    select {
        -moz-appearance: none !important;
        padding: 4px 6px 4px 6px !important;
        border: 2px solid var(--firefox-accent-color-2) !important;
        border-radius: 0px !important;
        background: var(--firefox-background-color) !important;
        color: var(--firefox-foreground-color) !important;
        height: auto !important;
        box-shadow: none !important;
    }
    menulist:hover,
    select:hover {
        border: 2px solid var(--foreground-hover) !important;
    }
    menulist[open="true"] {
        border: 2px solid var(--firefox-accent-color) !important;
        background-color: var(--firefox-accent-color) !important;
    }
    select {
        line-height: normal !important;
    }
    select:-moz-focusring {
        outline: none !important;
    }
    #context-back > .menu-iconic-left,
    #context-forward > .menu-iconic-left,
    #context-reload > .menu-iconic-left,
    #context-stop > .menu-iconic-left,
    #context-bookmarkpage > .menu-iconic-left {
        padding: 0px !important;
    }
    #context-navigation > menuitem {
        padding-left: 0px !important;
    }
    .menu-iconic-left {
        -moz-appearance: none !important;
        padding: 0px 5px 0px 9px !important;
    }
    .menu-right {
        -moz-appearance: none !important;
        padding: 7px !important;
        margin-right: 12px !important;
        color: white !important;
        border: solid var(--firefox-foreground-color);
        border-width: 0 2px 2px 0px;
        transform: rotate(-45deg) scale(0.55);
    }
    .menu-accel {
        padding: 0px !important;
    }
    .menu-text,
    .menu-iconic-text {
        margin-top: 1px !important;
        margin-bottom: 1px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    tooltip {
        -moz-appearance: none !important;
        color: var(--firefox-foreground-color) !important;
        background-color: var(--firefox-background-color) !important;
        border: none !important;
        padding: 6px !important;
    }
    .arrow.top,
    .arrow.bottom {
        display: none !important;
    }
    button[role="menuitem"] {
        background-color: transparent !important;
        background-position-x: 12px !important;
        padding-left: 40px !important;
        font-size: 14.5px !important;
    }
}

/* *in-content */

@-moz-document regexp("^(about:|chrome:|file:).*") {
    :root {
        --in-content-page-color: var(--firefox-foreground-color) !important;
        --in-content-page-background: var(
            --firefox-background-color
        ) !important;
        --in-content-text-color: var(--firefox-foreground-color) !important;
        --in-content-deemphasized-text: var(
            --firefox-accent-color-3
        ) !important;
        --in-content-selected-text: var(--firefox-foreground-color) !important;
        --in-content-box-background: var(
            --firefox-background-color
        ) !important;
        --in-content-box-background-odd: var(
            --firefox-accent-color-2
        ) !important;
        --in-content-box-background-hover: var(
            --firefox-accent-color
        ) !important;
        --in-content-box-background-active: var(
            --firefox-accent-color
        ) !important;
        --in-content-box-border-color: var(--firefox-accent-color) !important;
        --in-content-box-info-background: var(
            --firefox-accent-color
        ) !important;
        --in-content-item-hover: var(--firefox-accent-color-2) !important;
        --in-content-item-selected: var(--firefox-accent-color) !important;
        --in-content-border-color: var(--firefox-accent-color-2) !important;
        --in-content-border-highlight: var(--firefox-accent-color) !important;
        --in-content-border-focus: var(--firefox-accent-color) !important;
        --in-content-border-hover: var(--firefox-accent-color-2) !important;
        --in-content-border-active: var(--firefox-accent-color) !important;
        --in-content-border-active-shadow: var(
            --firefox-accent-color
        ) !important;
        --in-content-category-outline-focus: 1px dotted
            var(--firefox-accent-color) !important;
        --in-content-category-text-selected: var(
            --firefox-accent-color
        ) !important;
        --in-content-category-text-selected-active: var(
            --firefox-accent-color
        ) !important;
        --in-content-category-background-hover: var(
            --firefox-accent-color-2
        ) !important;
        --in-content-category-background-active: var(
            --firefox-accent-color-2
        ) !important;
        --in-content-category-background-selected-hover: var(
            --firefox-accent-color-2
        ) !important;
        --in-content-category-background-selected-active: var(
            --firefox-accent-color-2
        ) !important;
        --in-content-tab-color: var(--firefox-accent-color-2) !important;
        --in-content-link-color: var(--firefox-accent-color) !important;
        --in-content-link-color-hover: var(--firefox-accent-color) !important;
        --in-content-link-color-active: var(--firefox-accent-color) !important;
        --in-content-link-color-visited: var(
            --firefox-accent-color
        ) !important;
        --in-content-button-background: var(
            --firefox-background-color
        ) !important;
        --in-content-button-background-hover: var(
            --firefox-accent-color
        ) !important;
        --in-content-button-background-active: var(
            --firefox-accent-color
        ) !important;
        --in-content-primary-button-background: var(
            --firefox-background-color
        ) !important;
        --in-content-primary-button-background-hover: var(
            --firefox-accent-color
        ) !important;
        --in-content-primary-button-background-active: var(
            --firefox-accent-color
        ) !important;
        --in-content-table-background: var(
            --firefox-background-color
        ) !important;
        --in-content-table-border-dark-color: var(
            --firefox-background-color
        ) !important;
        --in-content-table-header-background: var(
            --firefox-background-color
        ) !important;
        --in-content-dialog-header-background: var(
            --firefox-background-color
        ) !important;
        --bg-color: var(--firefox-background-color) !important;
        --text-color: var(--firefox-foreground-color) !important;
        --sidebar-selected-color: var(--firefox-accent-color) !important;
        --sidebar-text-color: var(--firefox-foreground-color) !important;
        --border-color: var(--firefox-accent-color) !important;
        --box-background: var(--firefox-background-color) !important;
        --box-border-color: var(--firefox-accent-color) !important;
        --category-background-hover: var(--firefox-accent-color-2) !important;
        --category-text: var(--firefox-foreground-color) !important;
        --category-text-selected: var(--firefox-accent-color) !important;
        --link-color: var(--firefox-accent-color-2) !important;
        --link-color-active: var(--firefox-accent-color) !important;
        --link-color-hover: var(--firefox-accent-color) !important;
        --warning-border: var(--firefox-accent-color-2) !important;
        --error-background: var(--firefox-background-color) !important;
        --error-border: var(--firefox-accent-color-2) !important;
        --highlight-50: var(--firefox-accent-color) !important;
        --card-separator-color: var(--firefox-accent-color-2) !important;
    }
    body {
        --newtab-background-color: var(--firefox-background-color) !important;
        --newtab-snippets-background-color: var(
            --firefox-background-color
        ) !important;
        --newtab-textbox-focus-color: var(--firefox-accent-color) !important;
        --newtab-link-primary-color: var(--firefox-accent-color) !important;
        --newtab-card-background-color: var(
            --firefox-background-color
        ) !important;
        --newtab-card-shadow: none !important;
        --newtab-search-header-background-color: var(
            --firefox-background-color
        ) !important;
        --newtab-topsites-icon-shadow: none !important;
    }
    /* it removes white outlines and dotted borders on focused elements */
    * {
        outline: none !important;
    }
    [open] *,
    [focused] * {
        border: none !important;
    }
    /* about:preferences table header text */
    treecol {
        color: var(--firefox-foreground-color) !important;
    }
    /* about:preferences selected privacy type */
    .selected {
        border-color: var(--firefox-accent-color) !important;
    }
    /* about:preferences privacy types */
    .content-blocking-category {
        background-color: var(--firefox-background-color) !important;
    }
    /* about:debugging cards */
    .card {
        background-color: var(--firefox-background-color) !important;
        border: var(--firefox-border-accent-color) !important;
    }
    /* about:home options button */
    .prefs-button {
        visibility: collapse !important;
    }
}

/* *sideberry adjustments */

@-moz-document regexp(
    "^moz-extension://a1baed57-0b1d-4983-92cd-dd64ef6f021b.*"
) {
    #root {
        --bg: var(--firefox-background-color) !important;

        --ctx-menu-bg: var(--firefox-background-color) !important;
        --ctx-menu-bg-hover: var(--firefox-accent-color) !important;
        --ctx-menu-fg: var(--firefox-foreground-color) !important;

        --inactive-fg: var(--firefox-foreground-color) !important;
        --active-fg: var(--firefox-accent-color) !important;
        --info-fg: var(--firefox-accent-color) !important;

        --favicons-placeholder-bg: var(--firefox-foreground-color) !important;

        --tabs-activated-bg: var(--firefox-accent-color) !important;
        --tabs-activated-fg: var(--firefox-foreground-color) !important;

        --tabs-bg-hover: var(--firefox-accent-color) !important;
        --tabs-fg-hover: var(--firefox-foreground-color) !important;
        --tabs-border: none;
        --tabs-height: 1rem !important;
    }
    /* tab icon */
    .fav {
        background-color: var(--firefox-accent-color) !important;
        border-radius: 100% !important;
        margin: 0 1px 0 2px !important;
    }
    /* fixes incorrect placement of the audio icon on tabs */
    .audio {
        left: 13px !important;
    }
}

/* *reddit adjustments  */

@-moz-document domain("reddit.com") {
    /* header and popups */
    header > * {
        visibility: collapse !important;
    }
    ._1BFbVxT49QnrAN3fqGZ1z8._1tvThPWQpORoc2taKebHxs,
    ._2IHh1GBfUxJVQQX0dJvAry,
    ._1EG7_Cm18ANvUvJ4rJdRgQ,
    /* ._3Kd8DQpBIbsr5E1JcrMFTY._1tvThPWQpORoc2taKebHxs, */
    ._1tvThPWQpORoc2taKebHxs,
    #COIN_PURCHASE_DROPDOWN_ID *,
    #POPUP_CONTAINER {
        visibility: collapse !important;
    }
    header:hover > * {
        visibility: visible !important;
    }
    html {
        overflow-x: hidden !important;
    }
    /* feed container */
    ._1OVBBWLtHoSPfGCRaPzpTf {
        min-width: 80% !important;
    }
}

/* *memory page */

@-moz-document regexp("^about:memory.*") {
    html {
        background: var(--firefox-background-color) !important;
    }
    .legend,
    .opsRow,
    .section,
    .treeline,
    .sidebarItem {
        color: var(--firefox-foreground-color) !important;
        background-color: var(--firefox-background-color) !important;
        border: 1px solid var(--firefox-accent-color-2) !important;
    }
}

/* *pdf */

@-moz-document regexp(".*\\.(p|P)(d|D)(f|F).*") {
    #loadingBar .progress,
    .dropdownToolbarButton > select,
    .dropdownToolbarButton > select > option,
    .overlayButton,
    .secondaryToolbarButton,
    .toolbarField,
    body,
    div#viewer {
        background-color: var(--firefox-background-color) !important;
    }
    body {
        background-image: none !important;
    }
    .splitToolbarButtonSeparator,
    .verticalToolbarSeparator {
        box-shadow: none !important;
        background-color: var(--firefox-background-color) !important;
    }
    div#toolbarViewer {
        background-color: var(--firefox-background-color) !important;
    }
    #numPages,
    #pageNumber,
    #scaleSelect {
        color: var(--firefox-foreground-color) !important;
    }
    .pdfViewer .page {
        border-image: none !important;
    }
    #pageNumber,
    #scaleSelectContainer {
        border: 1px solid !important;
        border-color: var(--firefox-accent-color) !important;
    }
    #loadingBar {
        position: relative;
        width: 100%;
        height: 4px;
        background-color: var(--firefox-background-color) !important;
        border-bottom: 1px solid !important;
    }
    #sidebarContainer,
    #sidebarContent {
        background-color: var(--firefox-background-color) !important;
    }
    #toolbarSidebar {
        background-color: var(--firefox-background-color) !important;
        background-image: none !important;
        border-color: var(--firefox-accent-color) !important;
    }
    .doorHanger,
    .doorHangerRight {
        border: 1px solid !important;
        border-color: var(--firefox-accent-color) !important;
        box-shadow: none !important;
    }
    #toolbarContainer,
    .findbar,
    .secondaryToolbar {
        background-color: var(--firefox-background-color) !important;
        background-image: none !important;
    }
    .dropdownToolbarButton,
    .overlayButton,
    .secondaryToolbarButton,
    .toolbarButton {
        border: none !important;
        color: var(--firefox-foreground-color) !important;
    }
    .dropdownToolbarButton,
    .overlayButton,
    .toolbarButton:focus,
    .toolbarButton:hover {
        background-color: var(--firefox-accent-color) !important;
        background-image: none !important;
        border: none !important;
        box-shadow: none !important;
    }
    .secondaryToolbarButton:focus,
    .secondaryToolbarButton:hover {
        background-color: var(--firefox-background-color) !important;
        background-image: none !important;
        box-shadow: none !important;
    }
    .secondaryToolbarButton::before,
    .toolbarButton::before {
        filter: invert(20%) !important;
    }
    .secondaryToolbarButton.toggled,
    .splitToolbarButton.toggled > .toolbarButton.toggled,
    .toolbarButton.toggled {
        background-color: var(--firefox-background-color) !important;
        background-image: none !important;
        box-shadow: none !important;
        color: var(--firefox-foreground-color) !important;
    }
    .horizontalToolbarSeparator {
        background-color: var(--firefox-accent-color) !important;
        box-shadow: none !important;
    }
}

/* *view source */

@-moz-document regexp("view-source.*") {
    :root {
        background-color: var(--firefox-background-color) !important;
        color: var(--firefox-foreground-color) !important;
    }
    pre[id]:before,
    span[id]:before {
        color: var(--firefox-foreground-color) !important;
    }
    .highlight .end-tag,
    .highlight .start-tag {
        color: purple !important;
    }
    .highlight .comment {
        color: green !important;
    }
    .highlight .cdata {
        color: #c06 !important;
    }
    .highlight .doctype {
        color: #4682b4 !important;
    }
    .highlight .pi {
        color: red !important;
    }
    .highlight .entity {
        color: #dea174 !important;
    }
    .highlight .attribute-name {
        color: green !important;
    }
    .highlight .attribute-value {
        color: var(--firefox-foreground-color) !important;
    }
    .highlight .markupdeclaration {
        color: #4682b4 !important;
    }
    .highlight .error,
    .highlight
        .error
        > :-moz-any(.start-tag, .end-tag, .comment, .cdata, .doctype, .pi, .entity, .attribute-name, .attribute-value) {
        color: #de7474 !important;
    }
}

/* *tree children (devtools, file browser, about:memory, etc) */

@-moz-document regexp("*") {
    /* root element */
    :root {
        --theme-body-background: var(--firefox-background-color) !important;
        --theme-body-emphasized-background: var(
            --firefox-accent-color-2
        ) !important;
        --theme-sidebar-background: var(--firefox-background-color) !important;
        --theme-tab-toolbar-background: var(
            --firefox-background-color
        ) !important;
        --theme-toolbar-background: var(--firefox-background-color) !important;
        --theme-toolbar-color: var(--firefox-foreground-color) !important;
        --theme-toolbar-selected-color: var(
            --firefox-foreground-color
        ) !important;
        --theme-toolbar-background-hover: var(
            --firefox-accent-color
        ) !important;
        --theme-toolbar-hover: var(--firefox-accent-color) !important;
        --theme-toolbar-hover-active: var(--firefox-accent-color) !important;
        --theme-toolbar-separator: var(--firefox-accent-color) !important;
        --tab-line-selected-color: var(--firefox-accent-color) !important;
        --toolbarbutton-background: var(--firefox-background-color) !important;
        --toolbarbutton-hover-background: var(
            --firefox-accent-color
        ) !important;
        --toolbarbutton-focus-background: var(
            --firefox-accent-color
        ) !important;
        --toolbarbutton-focus-color: var(
            --firefox-foreground-color
        ) !important;
        --theme-button-background: var(--firefox-background-color) !important;
        --theme-button-active-background: var(
            --firefox-accent-color
        ) !important;
        --theme-accordion-header-background: var(
            --firefox-background-color
        ) !important;
        --theme-accordion-header-hover: var(--firefox-accent-color) !important;
        --theme-selection-background: var(--firefox-accent-color) !important;
        --theme-selection-background-hover: var(
            --firefox-accent-color
        ) !important;
        --theme-selection-focus-background: var(
            --firefox-accent-color
        ) !important;
        --theme-selection-color: var(--firefox-foreground-color) !important;
        --theme-splitter-color: var(--firefox-accent-color) !important;
        --theme-emphasized-splitter-color: var(
            --firefox-accent-color
        ) !important;
        --theme-emphasized-splitter-color-hover: var(
            --firefox-accent-color
        ) !important;
        --theme-icon-color: var(--firefox-accent-color) !important;
        --theme-icon-checked-color: var(--firefox-foreground-color) !important;
        --theme-icon-dimmed-color: var(--firefox-accent-color-2) !important;
        --theme-body-color: var(--firefox-foreground-color) !important;
        --theme-popup-background: var(--firefox-background-color) !important;
        --theme-popup-color: var(--firefox-foreground-color) !important;
        --theme-popup-border-color: var(--firefox-accent-color) !important;
        --theme-popup-dimmed: var(--firefox-background-color) !important;
        --theme-toolbarbutton-background: var(
            --firefox-background-color
        ) !important;
        --theme-toolbarbutton-color: var(
            --firefox-foreground-color
        ) !important;
        --theme-toolbarbutton-hover-background: var(
            --firefox-accent-color
        ) !important;
        --theme-toolbarbutton-active-background: var(
            --firefox-accent-color
        ) !important;
        --theme-toolbarbutton-active-color: var(
            --firefox-foreground-color
        ) !important;
        --theme-contrast-background: var(
            --firefox-background-color
        ) !important;
        --theme-contrast-color: var(--firefox-foreground-color) !important;
    }
}
@-moz-document regexp("^(about:|chrome:|file:).*") {
    /* overrrides color of general buttons */
    .devtools-tabbar-button {
        color: var(--theme-icon-color) !important;
    }
    /* removes a blue border from text input boxes */
    .searchBox {
        border: none !important;
        background-color: var(--firefox-background-color) !important;
    }
    .searchBox:focus {
        border: var(--firefox-border-accent-color) !important;
    }
    /* the devtools page has too many buttons and their borders take too much space */
    button {
        border: none !important;
    }
    /* element tree in the bottom left corner of the devtools */
    .breadcrumbs-widget-item {
        border: none !important;
    }
    /* header */
    h1 {
        border-color: var(--firefox-accent-color) !important;
    }
    /* items */
    table > tbody > tr:hover {
        outline-color: var(--firefox-accent-color) !important;
        background-color: var(--firefox-accent-color) !important;
    }
    /* titles of items */
    .dir,
    .file,
    .symlink,
    .up {
        color: var(--firefox-foreground-color) !important;
    }
}

/* *buttons */

@-moz-document regexp("^(about:|chrome:|file:).*") {
    button,
    .urlbarView-tip-button,
    .toggle-group-label {
        -moz-appearance: none !important;
        background-color: var(--firefox-background-color) !important;
        border: var(--firefox-border-accent-color) !important;
        color: var(--firefox-foreground-color) !important;
        opacity: 1 !important;
    }
    button:hover,
    button[open],
    .urlbarView-tip-button:hover,
    .toggle-group-label:hover,
    button:hover:active,
    .urlbarView-tip-button:hover:active {
        background-color: var(--firefox-accent-color) !important;
    }
    /* mainly for the devtools */
    button:hover,
    button:hover::before,
    button:hover > img {
        fill: var(--firefox-foreground-color) !important;
        color: var(--firefox-foreground-color) !important;
    }
    button[disabled="true"]:hover,
    button[disabled="true"]:hover:active {
        background-color: var(--firefox-accent-color-3) !important;
        border-color: var(--firefox-accent-color-3) !important;
    }
    .expander-down {
        list-style-image: none !important;
        background: url(./img/arrowdown.png) center center no-repeat !important;
        background-color: var(--firefox-background-color) !important;
    }
    .expander-up {
        list-style-image: none !important;
        background: url(./img/arrowdown.png) center center no-repeat !important;
        background-color: var(--firefox-background-color) !important;
        transform: rotate(180deg);
    }
}

/* *checkboxes */

@-moz-document regexp("^(about:|chrome:|file:).*") {
    checkbox,
    input[type="checkbox"] {
        -moz-appearance: none !important;
        opacity: 1 !important;
    }
    input[type="checkbox"] {
        height: 1.5rem;
        width: 1.5rem;
    }
    /* active checkboxes */
    checkbox > .checkbox-check,
    input[type="checkbox"] {
        border: 2px solid var(--firefox-accent-color-2) !important;
        box-shadow: none !important;
        background-image: none !important;
    }
    checkbox:hover > .checkbox-check,
    input[type="checkbox"]:hover,
    input[type="checkbox"]:checked:hover,
    checkbox[checked="true"]:hover > .checkbox-check,
    checkbox:active > .checkbox-check,
    input[type="checkbox"]:active,
    input[type="checkbox"]:checked:active,
    checkbox[checked="true"]:hover:active > .checkbox-check {
        border-color: var(--firefox-accent-color) !important;
    }
    input[type="checkbox"]:checked,
    checkbox[checked="true"] > .checkbox-check {
        border-color: var(--firefox-accent-color-2) !important;
        background-color: var(--firefox-accent-color-2) !important;
        background: var(--firefox-accent-color-2) url(./img/check.png) center
            center no-repeat !important;
    }
    /* disabled checkboxes */
    checkbox[disabled="true"] > .checkbox-check {
        border-color: var(--firefox-accent-color-3) !important;
    }
    checkbox[disabled="true"][checked="true"] > .checkbox-check {
        background: var(--firefox-accent-color-3) url(./img/check.png) center
            center no-repeat !important;
    }
    checkbox[disabled="true"][checked="true"]:hover > .checkbox-check,
    checkbox[disabled="true"][checked="true"]:hover:active > .checkbox-check {
        border-color: var(--firefox-accent-color-3) !important;
    }
    input[type="checkbox"].toggle-button:hover:checked {
        border-color: var(--firefox-accent-color) !important;
    }
    input[type="checkbox"].toggle-button::before {
        background: var(--firefox-background-color) !important;
    }
    input[type="checkbox"].toggle-button:hover::before {
        background: var(--firefox-accent-color) !important;
    }
    input[type="checkbox"].toggle-button:checked::before {
        background: var(--firefox-accent-color) !important;
    }
}

/* *radio buttons */

@-moz-document regexp("^(about:|chrome:|file:).*") {
    radio,
    input[type="radio"] {
        -moz-appearance: none !important;
        border: none !important;
        border-radius: 0 !important;
        background: transparent !important;
        box-shadow: none !important;
        list-style: none !important;
        opacity: 1 !important;
    }
    /* active radio buttons */
    input[type="radio"]:hover,
    input[type="radio"]:hover:active {
        border-color: var(--firefox-accent-color) !important;
    }
    input[type="radio"]:checked {
        border-color: var(--firefox-accent-color-2) !important;
    }
    input[type="radio"]:checked:hover,
    input[type="radio"]:checked:hover:active {
        border-color: var(--firefox-accent-color) !important;
    }
    radio > .radio-check {
        border: 2px solid var(--firefox-accent-color-2) !important;
        fill: var(--firefox-accent-color) !important;
    }
    radio:hover > .radio-check,
    radio:hover:active > .radio-check {
        border-color: var(--firefox-accent-color) !important;
    }
    radio[selected="true"] > .radio-check {
        border: 2px solid var(--firefox-accent-color-2) !important;
        background: url(./img/radio.png) center center no-repeat !important;
    }
    radio[selected="true"]:hover > .radio-check,
    radio[selected="true"]:hover:active > .radio-check {
        border: 2px solid var(--firefox-accent-color) !important;
        background: url(./img/radio-hover.png) center center no-repeat !important;
    }
    /* disabled radio buttons */
    radio[disabled="true"] > .radio-check {
        border-color: var(--firefox-accent-color-3) !important;
        fill: var(--firefox-accent-color-3) !important;
    }
    radio[disabled="true"]:hover > .radio-check {
        border-color: var(--firefox-accent-color-3) !important;
    }
    radio[disabled="true"]:active > .radio-check {
        border-color: var(--firefox-accent-color-3) !important;
    }
    radio[disabled="true"][selected="true"] > .radio-check {
        border-color: var(--firefox-accent-color-3) !important;
        background: url(./img/radio.png) center center no-repeat !important;
    }
    radio[disabled="true"][selected="true"]:hover > .radio-check {
        border-color: var(--firefox-accent-color-3) !important;
        background: url(./img/radio.png) center center no-repeat !important;
    }
}

/* *text input */

@-moz-document regexp("^(about:|chrome:|file:)") {
    textarea,
    input:not(#urlbar-input):not(.searchbar-textbox):not(.fake-editable):not([type="radio"]):not([type="checkbox"]),
    .findbar-textbox {
        -moz-appearance: none !important;
        padding: 5.5px 5.5px 5.5px 5.5px !important;
        border: 2px solid var(--firefox-accent-color-2) !important;
        border-radius: 0 !important;
        background: var(--firefox-background-color) !important;
        color: var(--firefox-foreground-color) !important;
        box-shadow: none !important;
        opacity: 1 !important;
        transition: none !important;
        outline: none !important;
    }
    textarea:hover,
    input:not(#urlbar-input):not(.searchbar-textbox):not(.fake-editable):not([type="radio"]):not([type="checkbox"]):hover,
    .findbar-textbox:hover {
        border: 2px solid var(--firefox-accent-color) !important;
    }
    textarea:focus,
    input:not(#urlbar-input):not(.searchbar-textbox):not(.fake-editable):not([type="radio"]):not([type="checkbox"]):focus,
    .findbar-textbox:focus {
        padding: 5.5px 5.5px 5.5px 5.5px !important;
        border: 2px solid var(--firefox-accent-color) !important;
        background: var(--firefox-background-color) !important;
        color: var(--firefox-foreground-color) !important;
    }
    input[disabled]:not(#urlbar-input):not(.searchbar-textbox):not(.fake-editable):not([type="radio"]):not([type="checkbox"]) {
        background-color: var(--firefox-background-color) !important;
        border-color: var(--firefox-accent-color-3) !important;
        color: var(--firefox-accent-color-3) !important;
    }
    search-textbox,
    textbox {
        -moz-appearance: none !important;
        background: transparent !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        cursor: default !important;
    }
}

/* *uncategorized stuff

.wizard-header {
    background: var(--firefox-background-color) !important;
    color: var(--firefox-foreground-color) !important;
    border: none !important;
}

.header-container, .footer-container {
    border: none !important;
}

.dialogOverlay[topmost="true"] {
    background-color: var(--firefox-background-color) !important;
}

.previewStack {
    background: transparent !important;
}

listheader {
    border-bottom: 0px !important;
}

richlistbox {
    border: none !important;
}

.menulist-label-box {
    border: none !important;
}

resizer {
    display: none !important;
}

.groove {
    border: none !important;
}

.groupbox-title {
    background: transparent !important;
    border-bottom: 0px !important;
    padding: 0px !important;
}

.prefpane {
    background: black !important;
    color: white !important;
}

separator.groove:not([orient="vertical"]) {
    border-top: 0px !important;
}

.advanced-panel {
    background-color: black !important;
    border: none !important;
}

.windowDialog {
    color: white !important;
}

.list>scrollbox>.scrollbox-innerbox {
    border: none !important;
}

.message-bar {
    background: transparent !important;
    color: white !important;
}

/* Listbox

listbox {
    -moz-appearance: none !important;
    background: var(--firefox-background-color) !important;
    border: 1px #333333 solid !important;
}

listitem {
    margin: 0px !important;
    padding: 1px !important;
    border: none !important;
    color: white !important;
}

listitem:hover {
    background: #202020 !important;
}

listitem[selected="true"] {
    background: #404040 !important;
}

dropmarker {
    -moz-appearance: none !important;
    margin-right: 0px !important;
    padding-right: 20px !important;
    list-style-image: none !important;
    background: var(--dropmarker) center center no-repeat !important;
}

dropmarker>.dropmarker-icon {
    list-style-image: none !important;
}

/* Number Input

input[type="number"]::-moz-number-spin-box {
    display: none !important;
}

groupbox {
    -moz-appearance: none !important;
    border: none !important;
}

#placesView>splitter {
    border-inline-end: 1px solid var(--organizer-border-color) !important;
}

#detailsDeck {
    border-top: 1px solid rgb(40, 40, 40) !important;
}

.tree-splitter {
    width: 1px !important;
    max-width: 1px !important;
    -moz-appearance: none !important;
    border: 1px solid rgb(100, 100, 100) !important;
}

listheader {
    box-shadow: none !important;
    padding-bottom: 0px !important;
    border: none !important;
}

.treecol-image {
    padding: 5px 10px !important;
}

.tree-columnpicker-icon {
    filter: invert(1);
}

/* Richlist Stuff

richlistbox {
    -moz-appearance: none !important;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0px !important;
}

richlistitem {
    background-color: transparent !important;
    color: var(--firefox-foreground-color) !important;
    border-radius: 0px !important;
}

richlistitem:hover {
    background-color: var(--richlistitem-hover) !important;
}

richlistitem:hover:active {
    background-color: var(--richlistitem-active) !important;
}

richlistitem[selected="true"] {
    background-image: none !important;
    background-clip: border-box !important;
    outline: none !important;
    background-color: var(--richlistitem-selected) !important;
}

richlistbox:-moz-focusring {
    border: none !important;
    box-shadow: none !important;
}

progressmeter, progress {
    -moz-appearance: none !important;
    border: none !important;
    background: var(--firefox-background-color) !important;
    height: 8px !important;
}

progressmeter>.progress-bar, progress::-moz-progress-bar {
    background-color: var(--firefox-accent-color) !important;
    margin: 0px !important;
}

progressmeter[paused="true"]>.progress-bar, progress[paused]::-moz-progress-bar {
    background-color: GrayText !important;
}

progressmeter[mode="undetermined"]>.progress-bar, progress:not([value])::-moz-progress-bar {
    background-image: none !important;
    animation: none !important;
}

progressmeter>.progress-remainder {
    border: none !important;
    background: #333333 !important;
}

/* Customization Page

#customization-content-container {
    background-color: var(--firefox-background-color) !important;
}

#customization-footer {
    border-top: none !important;
    background-color: var(--firefox-background-color) !important;
}

.customizationmode-button {
    border-radius: 0px !important;
}

.mainContainer, .tabmodalprompt-mainContainer {
    color: white !important;
    background-color: black !important;
    border-radius: 0px !important;
    border: 1px solid var(--firefox-accent-color) !important;
    animation: fadeInScale .3s;
}

/* Permissions

.identity-popup-permission-remove-button:not(:-moz-focusring):hover>.button-box>.button-icon {
    fill: currentColor !important;
}

.identity-popup-expander {
    border: none !important;
    background: url("chrome://global/skin/icons/arrow-left.svg") center no-repeat !important;
}

.identity-popup-expander:hover, .identity-popup-expander[open] {
    border: none !important;
}

.identity-popup-expander:hover:active {
    border: none !important;
    fill: currentColor !important;
    background: url("chrome://global/skin/icons/arrow-left.svg") center no-repeat !important;
    background-color: var(--arrowpanel-dimmed-further) !important;
}

.external {
    color: var(--firefox-accent-color) !important;
}

.external::after {
    fill: var(--firefox-accent-color) !important;
}

*/
